<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no'
	name='viewport' />

<title>Index</title>
<th:block th:include="fragments/cabecera :: cabecera"></th:block>



</head>
<body class="">
	<div class="wrapper ">

		<div th:insert="fragments/menu :: menu-principal"></div>

		<div class="main-panel">
			<!-- Navbar horizontal -->
			<div th:insert="fragments/menuHorizontal :: menu-horizontal"></div>
			<!-- End Navbar -->
			<div class="content">
				<div class="container-fluid">
					<!-- div para formulario de escuelas -->
					<form th:action="@{/escuela/guardaEscuela}" method="post"
						th:object="${tcEscuela}" id="FormEscuela">
						<div class="row">
							<div class="col-md-12">
								<div class="card">

									<div class="col-md-12">
										<div class="card">
											<div class="card-header card-header-icon card-header-rose">
												<h2 class="card-title text-center">Datos de la escuela</h2>
											</div>
											<div class="card-body">
												<input type="hidden" name="nId" th:field="*{nId}">
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">Subdirección Regional de Educación Básica</label> <input
																type="text" class="form-control"
																th:field="*{tcRegional.sNombre}" readonly="readonly">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">Zona escolar </label> <input
																type="text" class="form-control"
																th:field="*{tcZonaEscolar.sNombre}" readonly="readonly">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">CCT</label> <input
																type="text" class="form-control" th:field="*{sCct}"
																minlength="10" maxlength="10" readonly="readonly">
														</div>
													</div>



												</div>
												<div class="row">
													<div class="col-md-8">
														<div class="form-group">
															<label class="bmd-label-floating">Nombre de la
																escuela</label> <input type="text" class="form-control"
																th:field="*{sNombre}" readonly="readonly">
														</div>
													</div>

													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">Turno </label> <input
																type="text" class="form-control"
																th:field="*{tcTurno.sNombre}" readonly="readonly">
														</div>
													</div>
												</div>

												<div class="row">

													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">Dirección</label> <input
																type="text" class="form-control"
																th:field="*{sDomicilio}" readonly="readonly">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">Colonia</label> <input
																type="text" class="form-control" th:field="*{sColonia}"
																readonly="readonly">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">Localidad</label> <input
																type="text" class="form-control"
																th:field="*{sLocalidad}" readonly="readonly">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">Municipio</label> <input
																type="text" class="form-control"
																th:field="*{tcMunicipio.sNombre}" readonly="readonly">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">Teléfono</label> <input
																type="tel" class="form-control" th:field="*{sTelefono}"
																maxlength="10" readonly="readonly">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">Correo
																electrónico</label><input type="email" class="form-control"
																th:field="*{sCorreo}" readonly="readonly">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">Modalidad</label> <input
																type="text" class="form-control"
																th:field="*{tcModalidad.sNombre}" readonly="readonly">
														</div>
													</div>

												</div>
											</div>

										</div>
									</div>

									<div class="col-md-12">
										<div class="row">
											<div class="col-md-6">
												<div class="card">
													<div class="card-header card-header-icon card-header-rose">
														<h2 class="card-title text-center">Registro de Horas
															Vacantes</h2>
													</div>
													<div class="card-body">
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label class="bmd-label-floating">*Horas
																		vacantes Indeterminadas</label> <input
																		th:field="*{nHorasIndeterminadas}" type="number"
																		class="form-control" required="required">
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label class="bmd-label-floating">*Horas
																		vacantes determinadas</label> <input
																		th:field="*{nHorasDeterminadas}" type="number"
																		class="form-control" required="required">
																</div>
															</div>
														</div>

														<div class="category form-category">*Campos
															Requeridos</div>

														<button type="submit" class="btn btn-success pull-right">Actualizar</button>

													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="card">
													<div class="card-header card-header-icon card-header-rose">
														<h2 class="card-title text-center">Datos del Director</h2>
													</div>
													<div class="card-body">
														<input type="hidden" th:field="*{nIdDirector}">
														<div class="row">

															<div class="col-md-4">
																<label class="bmd-label-floating">Nombre del Director(a) Escolar</label> <input
																	type="text" class="form-control"
																	th:value="${sNombreDirector}" readonly="readonly">

															</div>
															<div class="col-md-4">
																<label class="bmd-label-floating">Teléfono</label> <input
																	type="text" class="form-control"
																	th:value="${sTelefono}" readonly="readonly">

															</div>
															<div class="col-md-4">
																<label class="bmd-label-floating">Correo
																	electrónico</label> <input type="text" class="form-control"
																	th:value="${sCorreo}" readonly="readonly">

															</div>
														</div>
														<br>
														<br>
														<br>
														<br>
													</div>
												</div>

											</div>
										</div>
									</div>

									<div class="col-md-12">
										<div class="card">
											<div class="card-header card-header-icon card-header-rose">
												<h2 class="card-title text-center">CRITERIOS REGLAS DE
													OPERACIÓN</h2>
											</div>

											<div class="card-body">


												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">¿LA ESCUELA FUE
																ATENDIDA EN EL CICLO 2019?</label> <input type="text"
																class="form-control" th:field="*{sPreg1}"
																readonly="readonly">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">¿LA ESCUELA FUE
																ATENDIDA EN EL CICLO 2020?</label> <input type="text"
																class="form-control" th:field="*{sPreg2}"
																readonly="readonly">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">LA ESCUELA SE
																UBICA EN ALGUNA DE LAS 401 CIUDADES DEL CATÁLOGO SUN
																2018 </label><input type="text" class="form-control"
																th:field="*{sPreg3}" readonly="readonly">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">¿LA ESCUELA SE
																LOCALIZA EN UN MUNICIPIO CON UNA POBLACIÓN MAYOR A 2500
																HABITANTES?</label> <input type="text" class="form-control"
																th:field="*{sPreg4}" readonly="readonly">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">LA ESCUELA SE
																UBICA EN UN MUNICIPIO ¿RURAL O URBANO?</label> <input
																type="text" class="form-control" th:field="*{sPreg5}"
																readonly="readonly">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">¿CUÉNTA CON
																VÍAS DE ACCESO PAVIMENTADAS? SI/NO </label><input type="text"
																class="form-control" th:field="*{sPreg6}"
																readonly="readonly">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">LA ESCUELA SE
																UBICA A 2 KMTS DE ALGUNA CABECERA MUNICIPAL SI/NO </label> <input
																type="text" class="form-control" th:field="*{sPreg7}"
																readonly="readonly">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">GRADO DE
																MARGINACIÓN DE LA LOCALIDAD EN LA QUE SE UBICA LA
																ESCUELA DATOS 2015 </label> <input type="text"
																class="form-control" th:field="*{sPreg8}"
																readonly="readonly">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">LA ESCUELA SE
																UBICA EN UN "MUNICIPIO INDÍGENA" SEGÚN LA CDI </label><input
																type="text" class="form-control" th:field="*{sPreg9}"
																readonly="readonly">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">CUMPLE METAS DE
																COBERTURA POR LA DGDC LA MIR </label> <input type="text"
																class="form-control" th:field="*{sPreg10}"
																readonly="readonly">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">LA ESCUELA SE
																UBICA EN UNA LOCALIDAD CATALOGADA COMO "PUEBLO MÁGICO" </label>
															<input type="text" class="form-control"
																th:field="*{sPreg11}" readonly="readonly">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">CUENTA CON
																CONDICIONES MÍNIMAS DE INSTALACIÓN ELÉCTRICA Y
																EQUIPAMIENTO SI/NO</label> <input type="text"
																class="form-control" th:field="*{sPreg12}"
																readonly="readonly">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="bmd-label-floating">CUENTA CON
																CONECTIVIDAD A INTERNET SI/NO </label> <input type="text"
																class="form-control" th:field="*{sPreg13}"
																readonly="readonly">
														</div>
													</div>

												</div>

											</div>
										</div>
									</div>









								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<footer>
				<div th:insert="fragments/footer :: footer"></div>
			</footer>
		</div>
	</div>

	<th:block th:include="fragments/scripts :: script"></th:block>
	<!--  scripts para autocomplete -->
	<script th:src="@{/assets/js/core/jquery-1.12.4.js}"></script>
	<script th:src="@{/assets/js/core/jquery-ui.js}"></script>
	<script type="text/javascript">
		$(function() {
			$("#consultaDirector").autocomplete({
				source : "directorAutocomplete",
				minLength : 3,
				select : function(event, ui) {
					this.value = ui.item.label;
					$("#IDDIRECTOR").val(ui.item.value);
					return false;
				}
			});

		});
	</script>


</body>


</html>